<div class="mb-3 row justify-content-center">
  <label for="document" class="form-label">Digite seu CPF/CNPJ</label>
  <div id="input_session" class="row col-lg-6 col-12">
    <input 
      #documentInput
      type="text" 
      class="form-control col-lg-9 col-12" 
      id="document" 
    >
    <button (click)="onSubmit()" class="btn btn-success col-lg-2 col-12">Enviar</button>
  </div>
</div>

<div  *ngIf="mostrarModal" class="modal">
  <div class="modal-content align-items-center modal-nao-encontrou" >
    <p>{{ erroMensagem }}</p>
    <button (click)="fecharModal()" class="btn btn-success col-lg-2 col-12">Fechar</button>
  </div>
</div>
