#document{
    width: 83%;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 2px;
    border-radius: 8px;
    text-align: center;
  }
  
.modal-nao-encontrou{
    width: 70% !important;
}

.modal-content img {
    max-width: 100%; /* 🔹 Garante que a imagem não ultrapasse o modal */
    height: auto; /* 🔹 Mantém a proporção */
    display: block; /* 🔹 Remove espaços extras abaixo da imagem */
    margin: 0 auto; /* 🔹 Centraliza a imagem */
  }

  
@media (max-width: 768px) {
    #input_session{
        min-width: 90%;
    }
    #document{
       width: 100%;
       margin-bottom: 10px;
    }
    .modal-nao-encontrou{
        width: 87% !important;
    }
}