<div class="card">
    <div class="card-header d-flex justify-content-between">
      <h5>Pedido : LU-1409970438718881</h5>
      <h5>Codigo Rastreio : ETM12345</h5>
      
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div id="produto-info">
          <img width="50" src="https://m.media-amazon.com/images/I/51XA+9qSAhL._AC_SL1000_.jpg" />
          <h5 id="nome-produto" class="card-title">Fogão 5 bocas ...</h5>

         
        </div>
        <div>
          <h6 class="card-text">Previsão entrega:</h6>
          <p class="card-text">20/03/2025</p>
  
        </div>
        <div>
          <h6  class="card-text">Plataforma:</h6>
          <p id="plataforma" class="card-text">Casas Bahia</p>
  
        </div>
      </div>
     

      <p class="d-inline-flex gap-1">
        <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Veja onde está
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <app-status></app-status>
        </div>
      </div>

    </div>
  </div>