<app-navbar></app-navbar>
<div class="container text-center">

    <router-outlet></router-outlet> <!-- 🔹 Agora os componentes das rotas serão carregados aqui -->
    <div class="spinner-border text-success d-none" id="spinner" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    <div class="ms-sm-5 me-sm-5">
        <ul class="lista_pedidos">
            <li *ngFor="let pedido of pedidos">
                <app-card-pedido [pedido]="pedido"></app-card-pedido>
            </li>
        </ul>
    </div>
    <app-footer></app-footer>
</div>


